<!--
    EJS: Javascript integrado en HTML
         Es un motor de visualizaci칩n (plantillas) que permite incorporar en p치ginas HTML datos
         generados por un programa servidor, como resultado del procesamiento de peticiones de usuario o de otos programas. 

    Sintaxis

    <% %> para incluir c칩digo Javascript en el HTML (scriptlet)

-->

<%- include('../partials/head',{titulo:'P치gina principal'}); %>
<body>
    <div class="container">
        <h1>Bienvenido <span> <%=user%> </span></h1> 
    </div>
</body>
</html>